[submodule "JapeCore"]
	path = JapeCore
	url = https://github.com/JonathanPaugh/JapeCore.git
[submodule "src/public/portfolio/stack"]
	path = src/public/portfolio/stack
	url = https://github.com/JonathanPaugh/StackHtml.git
