[submodule "JapeCore"]
	path = JapeCore
	url = git@github.com:jape-games/jape-core.git
[submodule "src/public/portfolio/stack"]
	path = src/Jonathan-Paugh/public/portfolio/stack
	url = git@github.com:jonathan-paugh/stack-html.git
