:root {
  --color-light: initial;
  --color-dark: initial;

  --color-text: initial;
  --color-text-soft: initial;

  --color-background: initial;
  --color-background-accent: initial;
  --color-background-fade: initial;

  --color-primary: initial;
  --color-primary-accent: initial;
  --color-primary-fade: initial;

  --color-secondary: initial;
  --color-secondary-accent: initial;
  --color-secondary-fade: initial;

  --offset-xsmall: 0.25em;
  --offset-small: 0.5em;
  --offset-normal: 1em;
  --offset-large: 2em;
  --offset-xlarge: 4em;
  --offset-section: 8em;

  --font-size-xsmall: 10pt;
  --font-size-small: 14pt;
  --font-size-normal: 18pt;
  --font-size-large: 22pt;
  --font-size-xlarge: 26pt;

  --font-size-heading-xsmall: 32pt;
  --font-size-heading-small: 48pt;
  --font-size-heading-normal: 64pt;
  --font-size-heading-large: 80pt;
  --font-size-heading-xlarge: 96pt;

  --font-size-heading-fluid-small: calc(var(--font-size-normal) + 2.5vw);
  --font-size-heading-fluid: calc(var(--font-size-normal) + 5vw);

  --font-normal: "Ubuntu", sans-serif;
  --font-thin: "Sora", sans-serif;
  --font-logo: "League Spartan", sans-serif;
  --font-nav: "Nunito Sans", sans-serif;
}

/**********/
/* STYLES */
/**********/

.padding-small {
  padding: var(--offset-small) !important;
}

.padding-normal {
  padding: var(--offset-normal);
}

.padding-large {
  padding: var(--offset-large);
}

.padding-x-small {
  padding-left: var(--offset-small);
  padding-right: var(--offset-small);
}

.padding-x-normal {
  padding-left: var(--offset-normal);
  padding-right: var(--offset-normal);
}

.padding-x-large {
  padding-left: var(--offset-large);
  padding-right: var(--offset-large);
}

.padding-y-small {
  padding-bottom: var(--offset-small);
  padding-top: var(--offset-small);
}

.padding-y-normal {
  padding-bottom: var(--offset-normal);
  padding-top: var(--offset-normal);
}

.padding-y-large {
  padding-bottom: var(--offset-large);
  padding-top: var(--offset-large);
}

.font-size-xsmall {
  font-size: var(--font-size-xsmall);
}

.font-size-small {
  font-size: var(--font-size-small);
}

.font-size-normal {
  font-size: var(--font-size-normal);
}

.font-size-large {
  font-size: var(--font-size-large);
}

.font-size-xlarge {
  font-size: var(--font-size-xlarge);
}

.font-size-heading-xsmall {
  font-size: var(--font-size-heading-xsmall);
}

.font-size-heading-small {
  font-size: var(--font-size-heading-small);
}

.font-size-heading-normal {
  font-size: var(--font-size-heading-normal);
}

.font-size-heading-large {
  font-size: var(--font-size-heading-large);
}

.font-size-heading-xlarge {
  font-size: var(--font-size-heading-xlarge);
}

.font-size-heading-fluid {
  font-size: var(--font-size-heading-fluid);
}

.text-align-left {
  text-align: start;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

/************/
/* ELEMENTS */
/************/

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: var(--font-size-normal);
  font-weight: normal;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: var(--font-size-normal);
  font-weight: normal;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: var(--font-size-normal);
  font-weight: normal;
}

h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: var(--font-size-normal);
  font-weight: normal;
}

h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: var(--font-size-normal);
  font-weight: normal;
}

h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: var(--font-size-normal);
  font-weight: normal;
}

ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


a {
  color: var(--color-text);
  text-decoration: none;
}

a:hover:not(.no-hover), a *:hover:not(.no-hover) {
  cursor: pointer;
  color: var(--color-secondary-accent) !important;
}

a svg:hover:not(.no-hover) {
  fill: url(#hover);
}

button {
  padding: var(--offset-xsmall);
  font-size: var(--font-size-large);
  border: 2px solid;
  border-color: var(--color-text);
  border-radius: 6px;
  background-color: transparent;
  color: var(--color-text);
}

button:hover:not(.no-hover) {
  border-color: var(--color-secondary-accent);
  color: var(--color-secondary-accent);
  cursor: pointer;
}

svg {
  fill: var(--color-text);
}

/***********/
/* GENERAL */
/***********/

.nav-anchor {
  width: 0;
  height: 0;
  position: relative;
  bottom: var(--font-size-heading-fluid);
}

.no-hover {}

.gradient-icon-hover-start { stop-color: var(--color-primary); }
.gradient-icon-hover-end { stop-color: var(--color-secondary-accent); }

.heading {
  padding-bottom: var(--offset-normal);
  font-size: var(--font-size-heading-fluid);
  font-family: var(--font-logo);
  text-align: center;
}

.subheading {
  padding-bottom: var(--offset-normal);
  font-size: var(--font-size-heading-fluid-small);
  font-family: var(--font-logo);
  text-align: center;
}

.section {
  padding: var(--offset-large);
  padding-bottom: var(--offset-section);
  background-color: var(--color-background);
}

@media only screen and (max-width: 1024px) {
  .section {
    padding: var(--offset-large) var(--offset-small) var(--offset-large) var(--offset-small);
  }
}

.tooltip {
  padding-left: var(--offset-small);
  padding-right: var(--offset-small);
  font-size: var(--font-size-small);
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary-accent);
  border-radius: 3px;
  transition: opacity 0.25s ease-out;
  opacity: 0;
}

.tooltip.active {
  opacity: 1;
}

.tooltip.hover {
  opacity: 1;
}

.theme svg {
  width: 32px;
  height: 32px;
}

.theme.active svg {
  padding: 2px;
  fill: url(#hover);
  border-radius: 32px;
}

.card {
  padding: var(--offset-normal);
  border-radius: 1px;
  background-color: var(--color-background-accent);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

/**********/
/* LAYOUT */
/**********/

/* MAIN */

html,
body {
  margin: 0;
  min-width: 320px;
  color: var(--color-text);
  font-family: var(--font-normal);
  font-size: var(--font-size-normal);
}

/* HEADER */

header {
  width: 100%;
  min-height: 8vh;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

header.scrolled {
  background-color: var(--color-background);
  box-shadow: 0px 4px 8px black;
}

header:not(.scrolled) .theme.active svg {
  background-color: var(--color-text);
}

.header-themes {
  padding-left: var(--offset-small);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--offset-small);
  column-gap: var(--offset-small);
}

@media only screen and (max-width: 480px) {
  .header-themes {
    position: absolute;
    padding-top: var(--offset-small);
    flex-direction: column;
  }
}

nav {
  width: 100%;
  padding: 0 var(--offset-normal) 0 var(--offset-normal);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  row-gap: var(--offset-xsmall);
  column-gap: var(--offset-large);
  flex-wrap: wrap;
}

@media only screen and (max-width: 480px) {
  nav {
    padding: initial;
    flex-direction: column;
  }
}

nav > * {
  text-align: right;
  font-family: var(--font-nav);
  font-weight: bold;
}

/* SPLASH */

.section-splash {
  padding: 0;
  background-color: initial;
}

.splash-container {
  position: absolute;
  z-index: -1;
  background-color: var(--color-background);
}

.splash {
  width: 100%;
  height: 100%;
}

.gradient-splash-start { stop-color: var(--color-secondary); }
.gradient-splash-accent { stop-color: var(--color-primary); }
.gradient-splash-end { stop-color: var(--color-primary-fade); }
.gradient-splash-fade { stop-color: var(--color-background); }

/* LANDING */

.section-landing {
  height: 100vh;
  background-color: initial;
}

.landing-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-logo {
  text-align: center;
  font-family: var(--font-logo);
  letter-spacing: 3px;
  animation: 1s fadeInDown;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.landing-title {
  text-align: center;
  font-family: var(--font-logo);
  animation: 0.75s fadeInDown;
  animation-delay: 0.25s;
  animation-fill-mode: backwards;
  -webkit-font-smoothing: antialiased;
}

.landing-socials {
  padding: 0 35vw 0 35vw;
  display: flex;
  column-gap: var(--offset-normal);
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .landing-socials {
    padding: 0 25vw 0 25vw;
  }
}

@media only screen and (max-width: 480px) {
  .landing-socials {
    padding: 0 15vw 0 15vw;
  }
}

.landing-socials svg {
  width: 100%;
  height: 100%;
}

.landing-socials svg:hover {
  fill: var(--color-secondary-accent)!important;
}

.landing-socials a:nth-child(1) { animation: 1.5s fadeIn; animation-delay: 0.75s; animation-fill-mode: backwards; }
.landing-socials a:nth-child(2) { animation: 1.5s fadeIn; animation-delay: 1.25s; animation-fill-mode: backwards; }
.landing-socials a:nth-child(3) { animation: 1.5s fadeIn; animation-delay: 1.75s; animation-fill-mode: backwards; }

/* ABOUT */

.section-about {
  background-color: initial;
}

.about-personal {
  padding: 0 22.5vw 0 22.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: var(--offset-large);
  line-height: var(--font-size-xlarge);
}

@media only screen and (max-width: 1024px) {
  .about-personal {
    padding: 0 10vw 0 10vw;
  }
}

@media only screen and (max-width: 480px) {
  .about-personal {
    flex-direction: column;
  }
}

.about-personal-image {
  width: 15vw;
  height: 15vw;
  border-radius: 20vw;
  border: solid 2px var(--color-light);
  object-fit: cover;
}

@media only screen and (max-width: 480px) {
  .about-personal-image {
    width: 60vw;
    height: 60vw;
    border-radius: 60vw;
  }
}

.about-personal-info {
  font-family: var(--font-thin);
}

.about-columns {
  padding: 0 5vw 0 5vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10vw;
}

@media only screen and (max-width: 480px) {
  .about-columns {
    grid-template-columns: repeat(1, 1fr);
  }
}

.about-education-program {
  font-size: var(--font-size-large);
}

.about-education-institute {
  font-size: var(--font-size-small);
  color: var(--color-text-soft);
}

.about-education-type {
  font-size: var(--font-size-normal);
}

.about-skills ul > li {
  padding-bottom: var(--offset-small);
}

/* TECHNOLOGIES */

.technologies-container {
  padding: 0 15vw 0 15vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5vw;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .technologies-container {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--offset-large);
  }
}

@media only screen and (max-width: 480px) {
  .technologies-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.technologies-container svg {
  width: 100%;
  height: 100%;
}

.technologies-container * {
  cursor: default !important;
}

/* PROJECT */

.section-project {
  padding-left: 0;
  padding-right: 0;
}

.project-container {
  padding: 0 10vw 0 10vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10vh;
  column-gap: 10vw;
  justify-items: center;
}
@media only screen and (max-width: 1024px) {
  .project-container {
    grid-template-columns: 1fr;
  }
}

.project-item {
  width: 100%;
}

.project-item-title {
  font-size: var(--font-size-large);
}

.project-item-heading {
  padding-bottom: var(--offset-small);
}

.project-item-description {
  color: var(--color-text-soft);
}

.project-item-link:hover .project-item-description {
  color: var(--color-text-soft) !important;
}

.project-item-link:hover > .project-item-preview > img {
  border-color: var(--color-secondary-accent);
}

.project-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-small);
}

.project-item-type, .project-item-year {
  white-space: nowrap;
}

.project-item-badges {
  justify-content: flex-end;
  align-self: flex-end;
  white-space: nowrap;
}

.project-item-badges > svg {
  padding: 1px;
  width: 32px;
  height: 32px;
}

.project-item-preview > img {
  width: 100%;
  max-height: 40vw;
  object-fit: cover;
  border: 2px solid var(--color-light);
  border-radius: 6px;
}

.project-item-footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.project-item-footer > * {
  margin: var(--offset-xsmall) 0 var(--offset-xsmall) 0;
}

.project-item-footer > * > button {
  width: 100%;
}

/* CONTACT */

.section-contact {
  background-color: var(--color-background-accent);
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

/* TRANSITION */

.section-transition {
  background-color: var(--color-background);
  padding: 0;
  margin-bottom: -6px;
}

.section-transition > svg {
  width: 100%;
  height: 100%;
  fill: var(--color-background-fade);
}

/* FOOTER */

footer {
  min-height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-secondary-fade);
  background-color: var(--color-background-fade);
}

.footer-themes {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: var(--offset-small);
}
