:root {
  --color-text: #EEE;
  --color-text-soft: #AAA;

  --color-background: #333;
  --color-background-light: #444;
  --color-background-dark: #222;

  --color-primary: #334;
  --color-primary-accent: #335;

  --color-secondary: #343;
  --color-secondary-accent: #353;

  --offset-small: 0.5em;
  --offset-normal: 1em;
  --offset-large: 2em;

  --font-size-xsmall: 10pt;
  --font-size-small: 14pt;
  --font-size-normal: 18pt;
  --font-size-large: 22pt;
  --font-size-xlarge: 26pt;

  --font-size-heading-xsmall: 32pt;
  --font-size-heading-small: 48pt;
  --font-size-heading-normal: 64pt;
  --font-size-heading-large: 80pt;
  --font-size-heading-xlarge: 96pt;

  --font-normal: "Ubuntu", sans-serif;
  --font-logo: "League Spartan", sans-serif;
  --font-nav: "Nunito Sans", sans-serif;
}

/**********/
/* STYLES */
/**********/

.padding-small {
  padding: var(--offset-small);
}

.padding-normal {
  padding: var(--offset-normal);
}

.padding-large {
  padding: var(--offset-large);
}

.padding-x-small {
  padding-left: var(--offset-small);
  padding-right: var(--offset-small);
}

.padding-x-normal {
  padding-left: var(--offset-normal);
  padding-right: var(--offset-normal);
}

.padding-x-large {
  padding-left: var(--offset-large);
  padding-right: var(--offset-large);
}

.padding-y-small {
  padding-bottom: var(--offset-small);
  padding-top: var(--offset-small);
}

.padding-y-normal {
  padding-bottom: var(--offset-normal);
  padding-top: var(--offset-normal);
}

.padding-y-large {
  padding-bottom: var(--offset-large);
  padding-top: var(--offset-large);
}

.font-size-xsmall {
  font-size: var(--font-size-xsmall);
}

.font-size-small {
  font-size: var(--font-size-small);
}

.font-size-normal {
  font-size: var(--font-size-normal);
}

.font-size-large {
  font-size: var(--font-size-large);
}

.font-size-xlarge {
  font-size: var(--font-size-xlarge);
}

.font-size-heading-xsmall {
  font-size: var(--font-size-heading-xsmall);
}

.font-size-heading-small {
  font-size: var(--font-size-heading-small);
}

.font-size-heading-normal {
  font-size: var(--font-size-heading-normal);
}

.font-size-heading-large {
  font-size: var(--font-size-heading-large);
}

.font-size-heading-xlarge {
  font-size: var(--font-size-heading-xlarge);
}

.text-align-left {
  text-align: start;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

/************/
/* ELEMENTS */
/************/

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: var(--font-size-normal);
  font-weight: normal;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: var(--font-size-normal);
  font-weight: normal;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: var(--font-size-normal);
  font-weight: normal;
}

h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: var(--font-size-normal);
  font-weight: normal;
}

h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: var(--font-size-normal);
  font-weight: normal;
}

h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: var(--font-size-normal);
  font-weight: normal;
}

ol {
  padding: 0;
  list-style-type: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

a:hover, a *:hover {
  color: var(--color-secondary-accent);
  fill: var(--color-secondary-accent);
}

button {
  font-size: var(--font-size-large);
  border: 3px solid;
  border-color: var(--color-text);
  border-radius: 6px;
  background-color: transparent;
  color: var(--color-text);
}

button:hover {
  border-color: var(--color-secondary-accent);
  color: var(--color-secondary-accent);
  cursor: pointer;
}

/**********/
/* LAYOUT */
/**********/

/* MAIN */

html,
body {
  margin: 0;
  min-width: 320px;
  color: var(--color-text);
  font-family: var(--font-normal);
  font-size: var(--font-size-normal);
  background: var(--color-background);
}

.heading {
  padding-bottom: var(--offset-normal);
  font-size: var(--font-size-heading-normal);
  text-align: center;
}

.section {
  padding: var(--offset-large);
}

/* HEADER */

header {
  width: 100%;
  min-height: 8vh;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 1;
}

header > * {
  padding-left: var(--offset-large);
  padding-right: var(--offset-large);
  display: flex;
  align-items: center;
}

.header-nav {
  justify-content: flex-end;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

nav > * {
  padding-left: var(--offset-large);
  text-align: right;
  font-family: var(--font-nav);
  font-weight: bold;
}

/* SPLASH */

.section-splash {
  width: 100%;
  height: 100vh;
  background: linear-gradient(165deg, var(--color-secondary-accent) 0%, var(--color-primary-accent) 35%, var(--color-primary) 100%);
}

.splash-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.splash-logo {
  text-align: center;
  font-family: var(--font-logo);
  letter-spacing: 3px;
  animation: 1s fadeInDown;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.splash-title {
  text-align: center;
  font-family: var(--font-logo);
  animation: 0.75s fadeInDown;
  animation-delay: 0.25s;
  animation-fill-mode: backwards;
  -webkit-font-smoothing: antialiased;
}

.splash-icons {
  padding: 0 40% 0 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.splash-icons svg {
  width: 100%;
  height: 100%;
}

.splash-icons a:nth-child(1) { animation: 1.5s fadeIn; animation-delay: 0.75s; animation-fill-mode: backwards; }
.splash-icons a:nth-child(2) { animation: 1.5s fadeIn; animation-delay: 1.25s; animation-fill-mode: backwards; }
.splash-icons a:nth-child(3) { animation: 1.5s fadeIn; animation-delay: 1.75s; animation-fill-mode: backwards; }

/* ABOUT */

.section-about {
  background: linear-gradient(180deg, #32324D 0%, var(--color-background) 40%);
}

.about-overlay {
  width: 100%;
  height: 50vh;
  position: absolute;
}

/* PROJECT */

.section-project {
  padding-left: 10vw;
  padding-right: 10vw;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10vh;
}

.project-item {
  padding-left: 5vw;
  padding-right: 5vw;
  white-space: nowrap;
}

.project-item > img {
  width: 100%;
  height: auto;
}

/* CONTACT */

.section-contact {
  background-color: var(--color-background-light);
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* TRANSITION */

.transition-container {
  margin-bottom: -6px;
  background-color: var(--color-background-light);
}

.transition-container > svg {
  width: 100%;
  height: 100%;
  fill: var(--color-background-dark);
}

/* FOOTER */

footer {
  min-height: 12vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: flex-end;
  color: var(--color-text-soft);
  background-color: var(--color-background-dark);
}

@media only screen and (max-width: 768px) {
  header {
    display: none;
  }

  .project-container {
    grid-template-columns: 1fr;
  }
}